Repository Medico24/medico24-application: changes, and which pre-commit hooks are due for each by the changed paths.
All: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-pubspec-sync, check-generated-files, check-code-complexity

dart-format:
  name: Dart Format
  description: Format Dart code using dart format
  entry: dart
  args:
  - format
  - --set-exit-if-changed
  - --line-length=100
  language: system
  stages:
  - commit

dart-fix:
  name: Dart Fix
  description: Apply automated fixes to Dart code
  entry: dart
  args:
  - fix
  - --apply
  language: system
  stages:
  - commit

dart-analyze:
  name: Dart Analyze
  description: Run static analysis on Dart code
  entry: dart
  args:
  - analyze
  - --fatal-infos
  - --fatal-warnings
  language: system
  pass_filenames: false
  stages:
  - commit

flutter-analyze:
  name: Flutter Analyze
  description: Run Flutter static analysis
  entry: flutter
  args:
  - analyze
  - --fatal-infos
  - --fatal-warnings
  language: system
  pass_filenames: false
  stages:
  - commit

flutter-test:
  name: Flutter Test
  description: Run Flutter unit and widget tests
  entry: flutter
  args:
  - test
  - --no-pub
  - --coverage
  language: system
  pass_filenames: false
  stages:
  - push

dart-import-sorter:
  name: Dart Import Sorter
  description: Sort and organize Dart imports
  entry: bash
  args:
  - -c
  - "for file in \"$@\"; do\n  # Sort imports using dart format (it handles imports)\n  dart format \"$file\" > /dev/null\ndone\n"
  language: system
  stages:
  - commit

check-debug-statements:
  name: Check Debug Statements
  description: Detect debug print statements and debugger calls
  entry: bash
  args:
  - -c
  ...

check-pubspec-sync:
  name: Check Pubspec Sync
  description: Ensure pubspec.lock is in sync with pubspec.yaml
  entry: bash
  args:
  - -c
  - "if [ pubspec.yaml -nt pubspec.lock ]; then\n  echo \"Error: pubspec.lock is outdated. Run 'flutter pub get'\"\n  exit 1\nfi\n"
  language: system
  pass_filenames: false
  stages:
  - commit

check-generated-files:
  name: Check Generated Files
  description: Ensure generated files (.g.dart, .freezed.dart) are up to date
  entry: bash
  args:
  - -c
  ...

check-code-complexity:
  name: Check Code Complexity
  description: Warn about potentially complex functions
  entry: bash
  args:
  - -c
  ...

chore: added new packages for testing implementation
  pubspec.lock
  pubspec.yaml
Due: check-pubspec-sync

tests: added tests for unit and integration test
  test/core/api/models/appointment_model_test.dart
  test/core/api/models/auth_model_test.dart
  test/core/api/models/pharmacy_model_test.dart
  test/core/api/models/user_model_test.dart
  test/core/api/services/auth_api_service_test.dart
  test/core/api/services/notification_api_service_test.dart
  test/helpers/mock_data.dart
  test/helpers/test_helpers.dart
  test/helpers/test_helpers.mocks.dart
  test/integration_test.dart
  test/presentation/widgets/common_widgets_test.dart
  test/widget_test.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

chore: updated integration tests and added build files
  lib/core/api/models/appointment_model.g.dart
  lib/core/api/models/pharmacy_model.g.dart
  lib/core/api/models/user_model.g.dart
  test/integration_test.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

feat: updated localstorage tables for offline first support
  lib/core/database/database.dart
  lib/core/database/database.g.dart
  lib/core/database/tables.dart
  lib/core/repositories/pharmacy_repository.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

feat: integrated connectivity services and repositories
  lib/core/service_locator.dart
  lib/core/services/connectivity_service.dart
  lib/presentation/home/tabs/pharmacy_tab.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

tests: added unit tests for offline first support modules
  test/core/database/database_test.dart
  test/core/repositories/pharmacy_repository_test.dart
  test/core/repositories/pharmacy_repository_test.mocks.dart
  test/core/services/connectivity_service_test.dart
  test/helpers/test_helpers.mocks.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

tests: added integration tests for offline first support modules
  test/integration/integration_test.dart
  test/integration/offline_integration_test.dart
  test/integration/offline_integration_test.mocks.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

feat: added ci-cd and code quality check
  .github/workflows/ci-cd.yml
  .github/workflows/code-quality.yml
Due: none

feat: implemented for you page with initial content
  lib/presentation/home/tabs/default_tab_content.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

feat: add environment model and serialization
  lib/core/api/models/environment_model.dart
  lib/core/api/models/environment_model.g.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

feat: added environment API service and repository
  lib/core/api/services/environment_api_service.dart
  lib/core/repositories/environment_repository.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

feat: add environment UI components
  lib/presentation/environment/environment_card.dart
  lib/presentation/home/tabs/components/find_doctor_vet_section.dart
  lib/presentation/home/tabs/components/hospitals_near_you_section.dart
  lib/presentation/home/tabs/components/physicians_near_you_section.dart
  lib/presentation/home/tabs/components/top_rated_doctors_section.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

refactor: updated homepage and service locator
  lib/core/api/api_constants.dart
  lib/core/service_locator.dart
  lib/presentation/home/tabs/default_tab_content.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

tests: added tests for new environments integration
  test/core/api/models/environment_model_test.dart
  test/core/api/services/environment_api_service_test.dart
  test/core/repositories/environment_repository_test.dart
  test/core/repositories/environment_repository_test.mocks.dart
  test/helpers/mock_data.dart
  test/presentation/widgets/environment_card_test.dart
  test/presentation/widgets/environment_card_test.mocks.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

fix: fixed location permission errors
  assets/images/logo.png
  lib/core/services/geocoding_service.dart
  lib/presentation/environment/environment_card.dart
  lib/presentation/home/home_screen.dart
  lib/presentation/home/tabs/components/find_doctor_vet_section.dart
  lib/presentation/home/tabs/components/hospitals_near_you_section.dart
  lib/presentation/home/tabs/components/physicians_near_you_section.dart
  lib/presentation/home/tabs/components/top_rated_doctors_section.dart
  lib/presentation/home/tabs/default_tab_content.dart
  lib/presentation/location/add_address_screen.dart
  lib/presentation/location/location_selection_screen.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

tests: updated tests for location services
  test/core/database/database_test.dart
  test/presentation/location/add_address_screen_test.dart
  test/presentation/widgets/environment_card_test.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

fix: updated versionings in github workflow
  .github/workflows/ci-cd.yml
  .github/workflows/code-quality.yml
Due: none

fix: fixed all flutter analyze errors on codebase
  lib/core/api/interceptors/auth_interceptor.dart
  lib/core/api/services/notification_api_service.dart
  lib/core/database/database.dart
  lib/core/services/connectivity_service.dart
  lib/core/services/geocoding_service.dart
  lib/core/services/notification_service.dart
  lib/presentation/accessibility/accessibility_settings_screen.dart
  lib/presentation/home/tabs/components/hospitals_near_you_section.dart
  lib/presentation/home/tabs/components/physicians_near_you_section.dart
  lib/presentation/home/tabs/components/top_rated_doctors_section.dart
  lib/presentation/home/tabs/pharmacy_tab.dart
  lib/presentation/location/add_address_screen.dart
  lib/presentation/location/location_selection_screen.dart
  lib/presentation/location/widgets/address_bottom_sheet.dart
  lib/presentation/location/widgets/map_with_centered_pin.dart
  lib/presentation/location/widgets/search_suggestions_overlay.dart
  lib/presentation/pharmacy/pharmacy_detail_screen.dart
  lib/presentation/pharmacy/pharmacy_list_screen.dart
  lib/presentation/profile/profile_screen.dart
  lib/presentation/splash/splash_screen.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

fix: fixed all flutter analyze errors in tests
  lib/main.dart
  test/core/api/models/pharmacy_model_test.dart
  test/core/api/services/environment_api_service_test.dart
  test/core/database/database_test.dart
  test/core/repositories/environment_repository_test.dart
  test/core/repositories/pharmacy_repository_test.dart
  test/helpers/mock_data.dart
  test/helpers/test_helpers.dart
  test/presentation/widgets/common_widgets_test.dart
Due: dart-format, dart-fix, dart-analyze, flutter-analyze, flutter-test, dart-import-sorter, check-debug-statements, check-generated-files, check-code-complexity

chore: updated workflows to reuse example env as .env
  .env.example
  .github/workflows/ci-cd.yml
  .github/workflows/code-quality.yml
Due: none

chore: added env copy logic to code quality coverage check
  .github/workflows/code-quality.yml
Due: none

chore: fixed build errors for android and ios
  .github/workflows/ci-cd.yml
  ios/Podfile
Due: none

chore: added google services json loader from github secrets
  .github/workflows/ci-cd.yml
Due: none

feat: added discord notifier for github actions
  .github/workflows/notify.yml
Due: none

chore: fixed invalid json for discord notify
  .github/workflows/notify.yml
Due: none

chore: updated notifier to contain more detail
  .github/workflows/notify.yml
Due: none

Path conditions:
  dart-format: any of: \.dart$
  dart-fix: any of: \.dart$
  dart-analyze: any of: \.dart$
  flutter-analyze: any of: \.dart$
  flutter-test: any of: \.dart$
  dart-import-sorter: any of: \.dart$
  check-debug-statements: any of: \.dart$
  check-pubspec-sync: any of: ^pubspec\.(yaml|lock)$
  check-generated-files: any of: \.dart$
  check-code-complexity: any of: \.dart$
